name: GitHub Actions Attempt

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v6
       - name: Set up Python
         uses: actions/setup-python@v6
         with:
           python-version: '3.12'
        # make depends on uv
       - name: Install dependencies
         run: |
          make setup
          make install
          make build
          make start
       - name: Run linter and pytest
         run: |
          make test
          make lint
